.indication__cards_holder {
	flex: 1;
}

.indication__cards_header {
	display: flex;
	gap: 14px;
	margin-bottom: 40px;
}

.cards__icon {
	background-color: var(--secondary-color);
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 50px;
	min-height: 50px;
	align-self: center;

	> svg {
		color: var(--text-dark-primary);
		font-size: 30px;
	}
}

.cards__title {
	font-size: 1.625rem;
	font-weight: 700;
	color: var(--text-dark-primary);
}

.cards__title_description {
	font-size: 0.813rem;
	font-weight: 400;
	color: var(--text-dark-secondary);
}

.indication__cards {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.indication__card {
	background-color: var(--bg-card);
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	padding: 24px;
	gap: 14px;
}

.card__title {
	font-size: 20px;
	font-weight: 700;
	color: var(--text-dark-primary);
}

.card__description {
	font-size: 0.813rem;
	font-weight: 400;
	color: var(--text-dark-secondary);
}

.card__link {
	font-size: 0.813rem;
	font-weight: 700;
	color: var(--text-dark-quaternary);
}

@media (max-width: 768px) {
}
